{% macro displayWizard(wizard) %}
    {% trans_default_domain "IbrowsNewsletterBundle" %}
    <ul class="wizard">
        {% for stepKey, step in wizard.steps %}
            <li class="{% if(true == step.handler.isCurrentMethod) %}active{% endif %} {% if(true == step.handler.isValid()) %}valid{% endif %}">
                <span>
                    {% if(true == step.handler.isValid()) %}
                        <a href="{{ wizard.stepUrl(step) }}">
                    {% endif %}
                            {{ ('newsletter.wizard.'~step.handler.name)|trans }}
                    {% if(true == step.handler.isValid()) %}
                        </a>
                    {% endif %}
                </span>        
            </li>
        {% endfor %}
    </ul>
{% endmacro displayWizard %}