{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}newsletter-settings{% endblock layout_class %}

{% import "IbrowsNewsletterBundle::macros.html.twig" as macros %}
{% block newsletter_wizard %}
    {{ macros.displayWizard(wizard) }}
{% endblock %}

{% block newsletter_content %}
	<a href="{{ url('ibrows_newsletter_generate_mail_jobs') }}" class="btn btn-primary">
        {{ 'newsletter.generate.mail'|trans }}
    </a>
{% endblock %}